.checkout{
  background-color: white;
    /* margin-left: 20px; */
    border-style: solid;
    height: 21rem;
    width: 87vw;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cart-navbar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.cart-navbar-row {
  display: flex;
 justify-content: space-between;
 padding: 20px;
}

.cart-image-price{
 display:flex
}
.cart-product-image{
  margin-right: 20px;
    border-radius: 50%;
}
.cart-unit-name {
    
  }
  .cart-product-quanity{
    display: flex;
    margin-right: 40px;
  }

  .cart-subtotal{
 margin-right: 30px;
  }
  .cart-product-increment{
  width: 20px;
    height: 20px;
    background: #dccfcf;
    text-align: center;
    line-height: 20px;
  }
  .cart-product-decrement{
    width: 20px;
    height: 20px;
    background: #dccfcf;
    text-align: center;
    line-height: 20px;
  }
  .cart-product-counter{
    margin: 0 10px;
    
  }
  .sub-total {
    width: 100%;
    height: 70px;
    background:red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .total-items{
    margin-right: 70px;
  }

  .grand-total {

  margin-right: 50px;
  }
  @media screen and (max-width:700px){
  .checkout{ 
   width: 100%;
   margin-bottom: 20px;
  }
  
}