.table-container{
text-align: center;
display: inline-block;
}

div.table 
  {
      display:table;
  }
  form.tr, div.tr
  {
      display:table-row;
      
  }
  label.td
  {
      display:table-cell;
  }
  .button-row{
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;
  }