/* .table-container{
text-align: center;
display: inline-block;
} */
.table-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.table 
  {
      display:table;
  }
  form.tr, div.tr
  {
      display:table-row;
     
      
  }
  label.td
  {
      display:table-cell;
  }
  .button-row{
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;
  }


  @media screen and (max-width:700px){
    .tr{
     width: 636px;
    
    }
    
  }
  