.product-container {
  
}
.search-container {
  margin-bottom: 10px;
}
.products-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#product-list img {
  height: 400px;
  width: 200px;
}
@media screen and (max-width: 700px) {
 
}
.feature-basket{
  display: flex;
  
}
.feature-basket.center{
 
}
.block {
  background-color: blue;
}