.hover-image img{
width: 200px;
height: 200px;
display:flex;
flex-direction:row
}
.hover-image{
  display: flex;
  
}
.product-details{
  display:flex;
  color: darkgoldenrod;
}
.produt-main-image{
display:flex;
padding-bottom:50px;

}
.product-main-image img{
  width: 200px;
height: 200px;
}
.product-name-price{
  margin: 103px 60px 0 60px;
}
.card{
  width: auto;
  padding:10px;
 
}
.product-small-images{
margin-right: 30px;
}
.product-name {
 font-size: 21px;

}
.product-description{

}
.product-category-text {

}
.product-big-image {
  width: 40vw;
}


@media screen and (max-width:700px){
  .card{ 
    width: 325px;
  }
  
}